---
import ProjectLayout from "../../../layouts/ProjectLayout.astro"

---

<ProjectLayout title="QuoteNotes" projectName="Quote Notes" projectsub="Take amazing notes while you read" href="/projects/quotenotes">
    <div class="grid grid-cols-1 w-full gap-10">
        <div class="flex flex-col gap-4 py-10 border-b border-b-neutral-300 md:flex-row">
            <div class="flex flex-col object-cover md:w-3/5">
                <iframe  height="315" src="https://www.youtube.com/embed/8LRY7-985yE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- <img src="/assets/technologies-react.jpg" alt="" class="border border-stone-800 rounded-lg"> -->
            </div>
            <div class="p-4 md:pt-10 md:w-2/5">
                <h1 class="text-lg font-semibold mb-2">Quote Notes</h1>
                <p class="text-sm">Having trouble remembering what you've read? 
                    Now you can keep track of all of your notes for the books you're reading
                with Quote Notes. The one stop shop for organzing notes while your read! </p>
            </div>           
        </div>
        <section class="pb-10 h-62 w-full border-b border-b-neutral-300">
            <h3 class="text-lg font-bold pb-6">Features</h3>
            <div class=" grid grid-cols-5 gap-4">
                <div class="flex flex-col object-cover gap-2">
                    <img src="/assets/technologies-react.jpg" alt="" class="border border-stone-800 rounded-lg">
                    <p class=" text-sm ">React</p>
                </div>
                <div class="flex flex-col  object-cover gap-2">
                    <img src="/assets/technologies-node.jpg" alt="" class="border border-stone-800 rounded-lg">
                    <p class=" text-sm ">Node JS</p>
                </div>
                <div class="flex flex-col  object-cover gap-2">
                    <img src="/assets/technologies-graphql.jpg" alt="" class="border border-stone-800 rounded-lg">
                    <p class=" text-sm ">GraphQL</p>
                </div>
            </div>  
        </section>
        <section class="pb-10 h-62 w-full border-b border-b-neutral-300">
            <h3 class="text-lg font-bold pb-6">Technologies</h3>
            <div class=" grid grid-cols-5 gap-4">
                <div class="flex flex-col object-cover gap-2">
                    <img src="/assets/technologies-react.jpg" alt="" class="border border-stone-800 rounded-lg">
                    <p class=" text-sm ">React</p>
                </div>
                <div class="flex flex-col  object-cover gap-2">
                    <img src="/assets/technologies-node.jpg" alt="" class="border border-stone-800 rounded-lg">
                    <p class=" text-sm ">Node JS</p>
                </div>
                <div class="flex flex-col  object-cover gap-2">
                    <img src="/assets/technologies-graphql.jpg" alt="" class="border border-stone-800 rounded-lg">
                    <p class=" text-sm ">GraphQL</p>
                </div>
            </div>  
        </section>
    </div>
</ProjectLayout>