<nav class="flex py-4 justify-evenly bg-white sticky top-0">
	<a class="link" href="/">
		<div class="">YouTube</div>
	</a>
	<a class="link" href="/projects/"> Portfolio</a>
	<a class="link" href="/about/"> About</a>

</nav>